@font-face {
    font-family: 'Kollektiv';
    src: url('../Assets/Fonts/kollektif/Kollektif-Bold.ttf') format('truetype'); /* Adjust the path and format as needed */
    font-weight: bold;
    font-style: normal;
}

.areas-div {
    margin: 2em 0;
    padding: 0 2em;
    box-sizing: border-box;
}

.areas-top {
    position: relative;
    height: 10em;
}

.horizontal-line {
    bottom: 50%;
    position: absolute;
    margin-right: 2em;
    margin: 0;
    padding: 50%;
    border-bottom: 1px solid #8D9376;
}

.areas-title {
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    width: fit-content;
    font-family: 'Kollektiv', sans-serif;
    font-size: 1.1em;
    margin: 0 1em;
}

.areas-title h1 {
    padding: 5px 2em;
    background-color: #8D9376;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.8);;
    border-radius: 10px;
    color: white;
}
.areas-de-atuacao-container {
    background-image: url('../Assets/Pictures/elderly-person-children-holding-plant.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}